.card{
    width: 300px;
    height: 200px;
    background-color: rgb(241, 34, 34);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    color: #333;
}


main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #60c92f;
}
body {
    margin: 0;
    padding: 0;
    background-color: #09388f;
}